

.container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #303538;
    color: white;
    width: 400px;
    box-shadow: 0 0 5px rgba(132, 131, 131, 0.664);
    margin-top: 60px;
    margin-bottom: 60px;
    padding: 0 0 50px 0;
    border-radius: 10px;
    border: 2px solid rgb(255, 255, 255);
    text-align: center;
}
.body{
    width:85%;
}
.container h1 {
    color: blue;
}

.email_input, .button{
    background-color: #44494d;
    color: rgb(255, 255, 255);
    font-weight: 500;
    height: 40px;
    border-radius: 5px;
    border: 1px solid;
    width: 95%;
    margin-bottom: 10px;
}

.button{
    background-color: blue;
    color: rgb(255, 255, 255);
    font-weight: 600;
}

.buttons button{
    color: white;
    background-color: #44494d;
    border-radius: 3px;
    height: 40px;
    border: 1px solid white;
    width: 95%;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: large;
    font-weight: 500;
    text-align: center;
}

.Gico {
    height: 20px;
    margin-right: 20px;
}